/* Deze code doet nu niks, omdat je geen aside gebruikt en je linkt of importeert nergens ./Menu.scss Ook kun je de folder components verwijderen.*/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 20px 6px;
    background-color: gray;
    color: white;
  
    nav {
      margin-top: 80px;
  
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
  
  
        p {
          display: none;
        }
      }
    }

  }